.profile .profile_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8800b;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem auto;
    text-align: center;
}

.profile .profile_infowrapper {
    margin: 2rem;
}

.profile .profile_infowrapper i {
    color: #032e5a;
    font-size: 18px;
}

.profile .profile_infowrapper p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.profile .profile_infowrapper div {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    overflow: overlay;
}

.profile .card {
    box-shadow: 0 2px 4px 0 #e6e6e6,
        0 2px 4px 0 #e6e6e6 !important
}

.profile label {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}


/* CUSTOME  INPUT */
.profile input {
    border: 1px solid #fff;
    border-radius: 5px;
}

.profile .input-icons {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    outline: none;
}

.profile .input-icons i {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 20px;
    color: #ababab;
}

.profile .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: bold;
    color: black;
    align-items: center;
    background-color: #f8f8f8;
}


.profile .profile-btn {
    background-color: #f8800b;
    color: #fff;
    font-weight: bold
}

.profile .profile-btn:hover {
    background-color: #fccfa2;
    color: #000;
}

@media (min-width:320px) and (max-width:768px) {
    .profile .profile_infowrapper {
        margin: 1rem;
    }
}

@media (min-width:320px) and (max-width:768px) {

    h2,
    h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 12px;
    }
}