body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create-campaign {
    background-color: #f36d14;
}

.create-campaign_img {
    background-image: url('../../siteImages/african-children.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 300px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
}

@media (min-width:320px) and (max-width:480px) {
    .create-campaign_contentwrapper {
        padding: 1rem !important;
    }

    .create-campaign_line {
        display: none;
    }
}


.create-campaign_left {
    color: #fff;
}

.create-campaign_line {
    height: 500px;
    background-color: #e36512;
    width: 5px;
    z-index: 10;
    margin: 0 auto;
}

.create-campaign_contentwrapper {
    padding: 3rem 6rem;
}

.create-campaign .input-icons {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    outline: none;
}

.create-campaign .input-icons i {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 20px;
    color: #cfcfcf;
}

.create-campaign .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: bold;
    color: black;
    align-items: center;
}

.create-campaign .form-control {
    outline: none;
    font-weight: bold;
    color: black;
}

.create-campaign input {
    border: 1px solid silver;
    border-radius: 5px;
}

.create-campaign input::placeholder {
    color: #000;
}

.create-campaign .form-control::placeholder {
    color: #000;
}

.create-campaign input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.create-campaign input[type="file"] {
    display: none;
}

.create-campaign .custom-file-upload {
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 100% !important;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-weight: 600;
}

.create-campaign-btn {
    background-color: #002c58;
    padding: 10px 30px;
    color: #fff;
    font-weight: 500;
}

.create-campaign-btn:hover {
    color: black;
    background-color: #fff;
}

.create-campaign input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

@media (min-width:320px) and (max-width:768px) {

    h2,
    h3,
    p {
        font-size: 20px !important;
    }

    h6 {
        font-size: 12px;
    }
}